<div class="navbar" *ngFor="let header of headers">
  <div class="btn-group col-md-1 col-sm-1 col-xs-1" data-toggle="buttons">			
    <label class="btn btn-success {{header != undefined && header.isEmpty()?'active':''}}">
      <input type="checkbox" autocomplete="off" checked>
      <span class="glyphicon glyphicon-ok"></span>
    </label>
  </div>            
  <div class="col-md-4 col-sm-4 col-xs-4">
    <input class="form-control" type="text" placeholder="Key" [(ngModel)]="header.key" (keyup)="onKey($event)">      
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <input class="form-control" type="text" placeholder="Value" [(ngModel)]="header.value">      
  </div>
</div>