.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

form {
	padding-top: 30px;
}
.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}
.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}
.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
	overflow: auto;
}
.no-margin-top {
    margin-top: 0px;
}
.headers-loop{
	display: inline-block;
}
#header-label{
	margin-left: 3.5%;
	margin-top: 10px;
}
.header-root{
	margin-left: 3.5%;
}