<div class="form-group col-md-3" style="float: right;">
  <input placeholder="Search for key" type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="onFilterChange()" /><br>
</div>
<br><br>
<div *ngIf="inputs != null">
  <div *ngFor="let input of filteredInputs" >
    <div class="display-view" [style.margin-left]="input.depth*10+'px'">
      <label class="key">{{input.key}}</label>
      <div *ngIf="input.value != 'SKIP_VALUE'">:
      <span class="value">{{input.value}}</span>
      </div>
      <br>
    </div>
  </div>  
</div>