<div class="form-group col-md-3" style="float: right;">
    <input placeholder="Key based search" type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="onFilterChange()" /><br>
</div>

<div *ngIf="inputs != null">
  <div class="col col-md-3 col-sm-4 col-xs-4">
    <div class="form-group span6" *ngFor="let input of filteredInputs" >
      <label>{{input.key}}</label>
      <input id="requestInput" class="form-control" required (blur)="onblur(input)" title="{{input.fullPath}}" [(ngModel)]="input.value">
      <br><br>
    </div> 
    <span id="error-message" style="color:red;"></span>
 </div> 
</div>
