<div *ngIf="visible">
    <label id="response-label" style="margin-left: 1.5%; margin-top: 30px;">Response</label><br>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home" (click)="toggleResponseView(0)">Simple</a></li>
        <li><a data-toggle="tab" href="#menu1" (click)="toggleResponseView(1)">Raw</a></li>
        <li><a data-toggle="tab" href="#menu2" (click)="toggleResponseView(2)">Headers</a></li>
    </ul>

    <div class="tab-content">
        <div class="col-md-12" [hidden]="activeTabIndex!=0">
            <div class="form-box no-margin-top" style="margin-bottom: 20px;">
                <div class="form-bottom focus">
                    <simple-response-view [requestType]="requestType" [response]="response"></simple-response-view>
                </div>
            </div>
        </div>
        <div class="col-md-12" [hidden]="activeTabIndex!=1" style="margin-bottom: 20px;">
            <div class="form-box no-margin-top">
                <div class="form-bottom">
                    <app-jjviewer [json]="rawResponse" [visible]="rawResponse != null"></app-jjviewer>
                </div>
            </div>
        </div>
        <div class="col-md-12" [hidden]="activeTabIndex!=2">
            <div class="form-box no-margin-top" style="margin-bottom: 20px;">
                <div class="form-bottom focus">
                    <app-response-header [responseHeaders]="responseHeaders"></app-response-header>
                </div>
            </div>
        </div>
    </div>
</div>