<div *ngIf="visible">
    <label id="response-label" style="margin-left: 1.5%; margin-top: 30px;">Response</label><br>
    <div class="col-md-3 btn-group" data-toggle="buttons">
        <label class="btn {{simpleView?'btn-primary active':'btn-default'}}" (click)="toggleResponseView()">
            <input type="checkbox" checked>Simple
        </label>
        <label class="btn {{!simpleView?'btn-primary active':'btn-default'}}" (click)="toggleResponseView()">
            <input type="checkbox">Raw
        </label>
    </div>
    <div class="col-md-12" [hidden]="!simpleView">
        <div class="form-box no-margin-top" style="margin-bottom: 20px;">
            <div class="form-bottom focus">
                <simple-response-view [requestType]="requestType" [response]="response"></simple-response-view>
            </div>
        </div>
    </div>
    <div class="col-md-12" [hidden]="simpleView">
        <div class="form-box no-margin-top">
            <div class="form-bottom">
                <app-jjviewer [json]="rawResponse" [visible]="rawResponse != null"></app-jjviewer>
            </div>
        </div>
    </div>
</div>