<div id="overlay" hidden>
    <img src="/assets/loader.gif" alt="Loading" />
</div>
<div class="alert alert-danger alert-dismissable hidden">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Error!</strong> <span>Error banner for handling exceptions.</span>
</div>
<div id="#menu1" class="tab-content">
<form #myForm="ngForm">
<div class="row">
  <div class="col col-md-12 header">
    <div class="col-md-2 btn-group mobile-view" data-toggle="buttons">
      <label class="btn  {{restProtocolActive?'btn-primary active':'btn-default'}}" (click)="protocolClick()">
        <input type="checkbox" checked>REST
      </label>
      <label class="btn {{!restProtocolActive?'btn-primary active':'btn-default'}}" (click)="protocolClick()">
        <input type="checkbox">SOAP
      </label>
    </div>
    <div class="col-md-1 select-dropdown request-header">
        <div class="form-group">
          <div *ngIf="requestTypes.length > 1"> 
            <select class="form-control" [(ngModel)]="data.requestType" name="requestType" (click)="requestTypeClicked(data.requestType)">
              <option *ngFor="let requestType of requestTypes" [selected]="requestType.value==0">{{requestType}}</option>
            </select>
          </div>
          <div *ngIf="requestTypes.length == 1" id="disableSoapDropdown">
            <select class="form-control" disabled [(ngModel)]="data.requestType" name="requestType" (click)="requestTypeClicked(data.requestType)">
                <option *ngFor="let requestType of requestTypes" [selected]="requestType.value==0">{{requestType}}</option>
            </select>
          </div>
        </div>
    </div>
    <div class="col-md-4 url-textbox">
        <div class="form-group">          
            <input class="form-control" type="text" id="requestUri" required [(ngModel)]="data.requestUri" placeholder="Enter URL" list="searchList" name="requestUri" (blur)="onRequestUriChange()">
            <div id="uri-error" hidden>Please enter valid URI</div>
            <datalist id="searchList"></datalist>
        </div>
    </div>
    <div class="col-md-2 select-dropdown" [hidden]="data.protocol != 'SOAP' || soapOperations.length <= 0">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="protocolName" name="operation" (change)="operationClick($event.target.value)">
          <option *ngFor="let soapOperation of soapOperations" >{{soapOperation.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-1 btn-spacing">
      <button class="btn btn-primary" id="goButton" (click)="goClicked()">Go</button>
    </div>
    <div> 
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle settings" type="button" data-toggle="dropdown">
          <img style="width: 18px;" src="/assets/images/ic_settings_black_24px.svg" />
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="showHeaderRows=!showHeaderRows">Headers</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showHeaderRows">
    <app-header-row [(headers)]="headers"></app-header-row>
  </div>

  <div class="row request-body">
    <request-body [(operationName)]="operationName" [(requestBody)]="requestBody" [(requestType)]="data.protocol" [visible]="(data.protocol == 'REST' && data.requestType == 'POST' || data.requestType=='PUT') || (data.protocol == 'SOAP' &&  data.soapOperation.requestTemplate)" (notify)="onNotify($event)"></request-body>
  </div>

  <div *ngIf="data.response" class="row response-body">
    <div class="col-md-12">
        <response-body [requestType]="data.protocol" [(response)]="data.response" [(rawResponse)]="data.rawResponse" [(responseHeaders)]="data.responseHeaders" [visible]="data.response != null"></response-body>
    </div>
  </div>
</div>
</form>
</div>
