<form #myForm="ngForm">

<div class="form-group">
    <label for="uri">Uri</label>
    <input class="form-control" type="text" [(ngModel)]="data.requestUri" name="requestUri" required>
</div>

<div class="form-group">
  <!-- <label for="requestType">Request Type</label> -->
  <select class="form-control" [(ngModel)]="data.requestType" name="requestType">
    <option *ngFor="let requestType of requestTypes">{{requestType}}</option>
  </select>
</div>

<textarea [(ngModel)]="data.requestBody" name="requestBody" >{}</textarea>
<div>{{data.response}}</div>

<button (click)="clicked()">Go</button>
</form>