<div class="main-header">
  <a href="https://global.deloitteresources.com" id="header-logo" class="text-hide hidden-xs" target="_blank">
        <img alt="Deloitte." src="../assets/img-deloitte-logo.png">
   </a>
  <h2>{{title}}</h2>
  <a href="https://global.deloitteresources.com" id="header-logo" class="text-hide hidden-xs" target="_blank">
        <img alt="Deloitte." src="../assets/img-deloitte-logo.png">
   </a>
</div>
<app-header></app-header>
<!-- <request-body></request-body> -->
<!-- <response-body></response-body> -->
